body {
	background: black;
	color: white;
	text-align: center; 
	font-family: 'Nosifer', cursive;
}

h1 {
	font-size: 500%;
}

h2 {
	font-size: 350%;
	font-family: 'Trade Winds', cursive;
}

a:link {
	color:white;
}

a:visited {
	color:white;
}

a:hover {
	color:grey;
}

p {
	font-family: 'Trade Winds', cursive;
}

#image {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	padding-top: -500px;
	border-radius: 10px;
	border-color: white;
	border-style: solid;
}

#image:hover {
	opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

}